.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.logoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.logo {
  height: var(--logo-height, 56px);
  width: auto;
  object-fit: contain;
}

.brandTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brandName {
  line-height: 20px;
  color: var(--brand-name-color);
  font-size: var(--brand-name-font-size);
  font-weight: var(--brand-name-font-weight);
}

.tagline {
  line-height: 14px;
  color: var(--tagline-color);
  font-size: var(--tagline-font-size);
}

